html {
  overflow: auto;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

*:not(:is(body, html)) {
  min-width: fit-content;
  box-sizing: border-box;
}

table {
  border-color: transparent;
  min-width: fit-content;
}

th, td {
  padding-inline: 12px;
}